<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header col-sm-2">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <%= link_to image_tag('turkey.png') + 'gobblebreak', '/', class: 'navbar-brand' %>
            </li>
        </ul>
    </div>
    <div class="navbar-header col-sm-8">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <span id="subheading" class="navbar-nav">
                    <span class="text" id="stdout">
                        Space bar shuffles, arrow keys resize.
                    </span>
                    <span class="jqconsole-cursor user-color user_0" />
                </span>
            </li>
        </ul>
    </div>
    <div class="navbar-header col-sm-2">
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="dropdown-toggle pull-right" data-toggle="dropdown" href="" aria-haspopup="true" aria-expanded="false">
                        <% if current_user %>
                            <%= current_user.name %> <img src="<%= current_user.image %>?sz=50" class="profile-pic" />
                        <% else %>
                            Sign in
                        <% end %>
                    </a>
                    <div class="dropdown-menu pull-right">
                        <% if current_user %>
                            <%= link_to 'Sign out', signout_path, id: 'sign_out', class: 'dropdown-item' %>
                        <% else %>
                            <%= link_to user_omniauth_authorize_path(:facebook), class: 'dropdown-item' do %>
                                <span class="sign-in-with-facebook">
                                    <span class="icon-container">
                                        <%= image_tag image_path('facebook_logo_white_29.png') %>
                                    </span>
                                    <span class="text-container">
                                        Log in with Facebook
                                    </span>
                                </span>
                            <% end %>
                            <%= link_to user_omniauth_authorize_path(:google_oauth2), class: 'dropdown-item' do %>
                                <span class="sign-in-with-google">
                                    <span class="icon-container">
                                        <%= image_tag image_path('google_logo.png') %>
                                    </span>
                                    <span class="text-container">
                                        Log in with Google
                                    </span>
                                </span>
                            <% end %>

                            <div class="dropdown-divider"></div>

                            <%= form_for('user', url: user_session_path, html: { class: 'dropdown-item sign-in-with-email' }) do |f| %>
                                <%= f.email_field :email, autofocus: true, placeholder: 'Email Address' %>
                                <%= f.password_field :password, placeholder: 'Password' %>

                                <%= f.submit "Log in" %>
                            <% end %>
                        <% end %>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
