<h1>Listing puzzle_viewings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Puzzle</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Num seconds viewed</th>
      <th>Num seconds to solve</th>
      <th>Was solved</th>
      <th>Was answer asked for</th>
      <th>Num attempts</th>
      <th>Num hints used</th>
      <th>Level of hint used</th>
      <th>User current rating</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @puzzle_viewings.each do |puzzle_viewing| %>
      <tr>
        <td><%= puzzle_viewing.user %></td>
        <td><%= puzzle_viewing.puzzle %></td>
        <td><%= puzzle_viewing.start_date %></td>
        <td><%= puzzle_viewing.end_date %></td>
        <td><%= puzzle_viewing.num_seconds_viewed %></td>
        <td><%= puzzle_viewing.num_seconds_to_solve %></td>
        <td><%= puzzle_viewing.was_solved %></td>
        <td><%= puzzle_viewing.was_answer_asked_for %></td>
        <td><%= puzzle_viewing.num_attempts %></td>
        <td><%= puzzle_viewing.num_hints_used %></td>
        <td><%= puzzle_viewing.level_of_hint_used %></td>
        <td><%= puzzle_viewing.user_current_rating %></td>
        <td><%= link_to 'Show', puzzle_viewing %></td>
        <td><%= link_to 'Edit', edit_puzzle_viewing_path(puzzle_viewing) %></td>
        <td><%= link_to 'Destroy', puzzle_viewing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Puzzle viewing', new_puzzle_viewing_path %>
