<%= form_for @puzzle, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :obsfucated_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :obsfucated_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fen, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fen, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :movetext, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :movetext, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :pgn, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :pgn, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :num_views, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :num_views, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :num_completions, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :num_completions, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :num_ratings, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :num_ratings, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :avg_rating, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :avg_rating, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :difficulty_score, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :difficulty_score, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                puzzles_path, :class => 'btn' %>
  </div>
<% end %>
