<%- model_class = Puzzle -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:obsfucated_id) %></th>
      <th><%= model_class.human_attribute_name(:fen) %></th>
      <th><%= model_class.human_attribute_name(:movetext) %></th>
      <th><%= model_class.human_attribute_name(:pgn) %></th>
      <th><%= model_class.human_attribute_name(:num_views) %></th>
      <th><%= model_class.human_attribute_name(:num_completions) %></th>
      <th><%= model_class.human_attribute_name(:num_ratings) %></th>
      <th><%= model_class.human_attribute_name(:avg_rating) %></th>
      <th><%= model_class.human_attribute_name(:difficulty_score) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @puzzles.each do |puzzle| %>
      <tr>
        <td><%= link_to puzzle.id, puzzle_path(puzzle) %></td>
        <td><%= puzzle.obsfucated_id %></td>
        <td><%= puzzle.fen %></td>
        <td><%= puzzle.movetext %></td>
        <td><%= puzzle.pgn %></td>
        <td><%= puzzle.num_views %></td>
        <td><%= puzzle.num_completions %></td>
        <td><%= puzzle.num_ratings %></td>
        <td><%= puzzle.avg_rating %></td>
        <td><%= puzzle.difficulty_score %></td>
        <td><%=l puzzle.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_puzzle_path(puzzle), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      puzzle_path(puzzle),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_puzzle_path,
            :class => 'btn btn-primary' %>
